[buildout]
parts =
    gae_sdk
    gae_tools
    app_lib

# Generate relative paths for eggs so that the buildout can be moved around.
relative-paths = true

# Unzip eggs automatically, if needed.
unzip = true

# Define versions for installed packages.
extends = versions.cfg
versions = versions

# Enable this to save all picked versions in the versions.cfg file.
# extensions = buildout.dumppickedversions
# dump-picked-versions-file = versions.cfg

# Keep internal stuff in a subdirectory.
download-cache = etc/downloads
eggs-directory = etc/eggs
develop-eggs-directory = etc/develop-eggs
parts-directory = etc/parts

[gae_sdk]
# Dowloads and extracts the App Engine SDK.
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.3.5.zip
destination = ${buildout:parts-directory}
hash-name = false
clear-destination = true

[gae_tools]
# Installs appcfg, bulkload_client, bulkloader, dev_appserver, remote_api_shell
# and python executables in the bin directory.
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}/google_appengine
# Add these paths to sys.path in the generated scripts.
extra-paths =
    app/lib
    app/distlib

[app_lib]
# Sets the library dependencies for the app.
recipe = appfy.recipe.gae:app_lib
lib-directory = app/distlib
use-zipimport = false

# Define the libraries. We include all official extensions by default, but you
# can remove the ones you won't use. The only required package is tipfy.
eggs =
    tipfy
    tipfy.ext.appstats
    tipfy.ext.auth
    tipfy.ext.blobstore
    tipfy.ext.db
    tipfy.ext.debugger
    tipfy.ext.i18n
    tipfy.ext.jinja2
    tipfy.ext.mail
    tipfy.ext.session
    tipfy.ext.taskqueue
    tipfy.ext.xmpp

# Don't copy files that match these glob patterns.
ignore-globs =
    *.c
    *.pyc
    *.pyo
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy

# Don't install these packages or modules.
ignore-packages =
    distribute
    setuptools
    easy_install
    site
    pkg_resources
