<html>
    <head>
        <title>{{ _('Ooops!') }}</title>
        <style type="text/css">
            body {
                font-family: trebuchet, 'trebuchet ms', georgia, serif;
                margin: 2em;
            }
            h1 {
                font-size: 3em;
                color: #444444;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>{{ _('I am a special handler, so I have special error treatment.') }}</h1>
    </body>
</html>
