[buildout]
parts =
    gae_sdk
    gae_tools
    app_lib

# Always unzip zip-safe eggs.
unzip = true

# Generate relative paths for eggs so that the buildout can be moved around.
relative-paths = true

# Section where package versions to fetch are defined.
versions = versions

# Save versions of all installed packages, so this same setup is reproduceable.
extensions = buildout.dumppickedversions
dump-picked-versions-file = .versions.cfg
# Comment this out to not update the versions file.
# overwrite-picked-versions-file = false

# Keep internal stuff in a subdirectory.
download-cache = ${buildout:directory}/etc/downloads
eggs-directory = ${buildout:directory}/etc/eggs
develop-eggs-directory = ${buildout:directory}/etc/develop-eggs
parts-directory = ${buildout:directory}/etc/parts

[gae_sdk]
# Dowloads and extracts the App Engine SDK.
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.3.3.zip
destination = ${buildout:parts-directory}/google_appengine
strip-top-level-dir = true
hash-name = false
clear-destination = true

[gae_tools]
# Installs appcfg, dev_appserver and python executables in the bin directory.
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}

[app_lib]
# Sets the library dependencies for the app.
recipe = appfy.recipe.gae:app_lib
lib-directory = app/distlib
use-zipimport = false

# Define the libraries.
eggs =
    babel
    jinja2
    wtforms
    werkzeug
    gaepytz
    gaema
    tipfy

# Don't copy files that match these glob patterns.
ignore-globs =
    *.c
    *.pyc
    *.pyo
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy

[versions]
# Defines which library versions to use. If a library doesn't have a
# definition, the latest version is fetched.

# Packages used by tipfy.
Babel = 0.9.5
Jinja2 = 2.4.1
WTForms = 0.6
Werkzeug = 0.6.2
gaema = 0.1
# Just get latest gaepytz with updated db, so this is commented out.
# gaepytz = 2010h
tipfy = 0.5.1

# Packages used by buildout.
hexagonit.recipe.download = 1.4.1
setuptools = 0.6c11
zc.buildout = 1.4.3

[dev_appserver]
# Set default values to start the dev_appserver. All options from the command
# line are allowed. They are inserted at the beginning of the arguments.
# Values are used as they are; don't use variables here.
defaults =
    --datastore_path=var
    --history_path=var
    --blobstore_path=var
    app
