{% extends 'layout.html' %}

{% from '_form_macros.html' import form_field %}

{% block body %}
    <h1>Register</h1>
    <p>Fill the form to create a new account, or <a href="{{ url_for('auth/login') }}">sign in with your existing one</a>.</p>
    <form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
        <ol>
            <li>{{ form_field(form.username, class='medium') }}</li>
            <li>{{ form_field(form.password, class='medium') }}</li>
            <li>{{ form_field(form.password_confirm, class='medium') }}</li>
        </ol>
        <fieldset class="submit">
            <input type="submit" name="submit" value="{{ _('Register') }}">
        </fieldset>
    </form>
{% endblock %}

